<% title t('.title_html') %>
<% content_for :navigation do %>
  <ul>
    <% if user_signed_in? %>
      <% if can? :show, Certificate %>
        <li><%= link_to(t('.certificates'), certificates_url) %></li>
      <% end %>
      <% if can? :show, User %>
        <li><%= link_to(t('.users'), users_url) %></li>
      <% end %>
    <% end %>
    <li><%= link_to t('.about'), home_about_path %></li>
    <li><%= link_to(t('.comments'), comments_url) %></li>
  </ul>
<%  end %>
<p class="error"><%= flash[:error] %></p>
<p class="notice"><%= flash[:notice] %></p>

<h3>Сервис SimpleVPN предназначен для построения VPN сетей с использованием системы OpenVPN</h3>
<p>С использованием сервиса SimpleVPN у Вас есть возможность организовать защищенное недорогое соединение между любыми компьютерами, подключенными к интернет.</p>
<p>Для того чтобы воспользоваться услугами сервиса, Вам необходимо пройти простую процедуру регистрации на сайте</p>
<br/>
<br/>
<br/>
<br/>
<br/>
<% content_for :sidebar do %>
  <%= @time %>
  <p><%= t('.cert_count') %>: <%= @cert_count_all %>.</p>

  <% if user_signed_in? %>
    <% if can? :create, Certificate %>
      <p><%= t('.user_cert_count') %>: <%= @cert_count_cur %>.</p>
    <% end %>
    <% if can? :show, Certificate %>
      <%= link_to(t('.show_certs'), certificates_url) %>
    <% end %>

    <% if can? :create, User %>
      <p><%= t('.user_count') %>: <%= @user_count_all %>.</p>
    <% end %>
    <% if can? :show, User %>
      <%= link_to(t('.show_users'), users_url) %>
    <% end %>

  <% end %>
<%  end %>
