<%= form_for(@certificate) do |f| %>
  <% if @certificate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@certificate.errors.count, "error") %> prohibited this certificate from being saved:</h2>

      <ul>
      <% @certificate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :Key %><br />
    <%= f.text_area :link_key %>
  </div>
  <div class="field">
    <%= f.label :Crt %><br />
    <%= f.text_field :link_crt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
